In [1]:
import pandas as pd
import numpy as np
from numpy.random import choice

In [2]:
data = pd.read_excel("Data.xlsx")

In [3]:
data.head()

,Unnamed: 0,Doc. Date,Material,Order qty,Ship-to nu,PCS delivered,HL delivered,delivery_days,delivery_flag,lead_time_creation_vs_rdd_flag,...,Container Size,Variétés,Segment LE,Latitude,Longitude,Degre Alc,TTC,Brut + TE,Net + TE - Hors majoration de rompu de palette,DA
0,0,2021-01-11,10946,5.0,29606863,350.0,21.0,7,1,1,...,"6,000 L",Blonde,PREMIUM,50.6455,2.9619,6.6,18.137448,15.582,15.114540,0.0
1,1,2021-01-11,19898,2.0,29606863,140.0,8.4,7,1,1,...,NaN,NaN,NaN,50.6455,2.9619,5.0,17.396467,14.688,14.497056,0.0
2,2,2021-01-11,80176,4.0,29606863,280.0,16.8,7,1,1,...,NaN,NaN,NaN,50.6455,2.9619,0.0,12.279859,10.368,10.233216,0.0
3,3,2021-01-11,66989,1.0,29606863,70.0,4.2,7,1,1,...,"6,000 L",-,SUPER PREMIUM,50.6455,2.9619,8.0,21.996000,18.330,18.330000,0.0
4,4,2021-01-08,11766,70.0,29378784,70.0,4.2,6,1,1,...,NaN,NaN,NaN,50.6978,2.2423,5.2,17.359200,14.466,14.466000,0.0

In [4]:
cols = list(data.columns)
pd.Series(cols)

0                                            Unnamed: 0
1                                             Doc. Date
2                                              Material
3                                             Order qty
4                                            Ship-to nu
5                                         PCS delivered
6                                          HL delivered
7                                         delivery_days
8                                         delivery_flag
9                        lead_time_creation_vs_rdd_flag
10                                             MACO/HL
11                                           Groupement
12                                          Postal Code
13                                               Street
14                                      Sous groupement
15                                      M2_Territory_ID
16                                      M1_Territory_ID
17                                                 Dépt
18                                                Brand
19                                              Subrand
20    SEGMENTS : Pils / Spécialités / Superspécialit...
21                                       Container Type
22                                       Container Size
23                                             Variétés
24                                           Segment LE
25                                             Latitude
26                                            Longitude
27                                            Degre Alc
28                                                  TTC
29                                            Brut + TE
30       Net + TE - Hors majoration de rompu de palette
31                                                   DA
dtype: object

In [5]:
similar_features_index = [18, 19, 20, 23, 24, 27]
similar_features = [cols[simindex] for simindex in similar_features_index ]
similar_features

['Brand',
 'Subrand',
 'SEGMENTS : Pils / Spécialités / Superspécialités/Bouteille Young adult',
 'Variétés',
 'Segment LE',
 'Degre Alc']

In [6]:
len(data.Material.unique())

179

In [7]:
material_10 = choice(np.array(data.Material.unique()))

In [8]:
material_10

45918

In [9]:
mat_data = data[data['Material'] == material_10]

In [10]:
mat_data.head(10)

,Unnamed: 0,Doc. Date,Material,Order qty,Ship-to nu,PCS delivered,HL delivered,delivery_days,delivery_flag,lead_time_creation_vs_rdd_flag,...,Container Size,Variétés,Segment LE,Latitude,Longitude,Degre Alc,TTC,Brut + TE,Net + TE - Hors majoration de rompu de palette,DA
37233,37233,2019-08-01,45918,10.0,29379894,10.0,0.7920,7,1,1,...,NaN,NaN,NaN,50.3843,1.8325,NaN,NaN,NaN,NaN,NaN
40155,40155,2019-08-22,45918,1.0,29379676,130.0,10.2960,8,1,1,...,NaN,NaN,NaN,43.4522,5.4130,NaN,NaN,NaN,NaN,NaN
43127,43127,2019-09-12,45918,1.0,29379857,130.0,10.2960,6,1,1,...,NaN,NaN,NaN,48.9333,2.3000,NaN,NaN,NaN,NaN,NaN
44133,44133,2019-09-18,45918,66.0,29379826,66.0,5.2272,7,1,1,...,NaN,NaN,NaN,48.7833,2.4667,NaN,NaN,NaN,NaN,NaN
45499,45499,2019-09-27,45918,1.0,29379826,130.0,10.2960,10,1,1,...,NaN,NaN,NaN,48.7833,2.4667,NaN,NaN,NaN,NaN,NaN
57591,57591,2019-10-09,45918,1.0,29379826,0.0,0.0000,1,1,0,...,NaN,NaN,NaN,48.7833,2.4667,NaN,NaN,NaN,NaN,NaN
57592,57592,2019-10-09,45918,1.0,29379826,130.0,10.2960,2,1,0,...,NaN,NaN,NaN,48.7833,2.4667,NaN,NaN,NaN,NaN,NaN
63843,63843,2019-11-22,45918,10.0,29379833,10.0,0.7920,6,1,1,...,NaN,NaN,NaN,45.5500,6.6667,NaN,NaN,NaN,NaN,NaN
65086,65086,2019-12-02,45918,1.0,29379676,130.0,10.2960,4,1,1,...,NaN,NaN,NaN,43.4522,5.4130,NaN,NaN,NaN,NaN,NaN

In [11]:
mat_data = mat_data[similar_features]
mat_data

,Brand,Subrand,SEGMENTS : Pils / Spécialités / Superspécialités/Bouteille Young adult,Variétés,Segment LE,Degre Alc
37233,NaN,NaN,NaN,NaN,NaN,NaN
40155,NaN,NaN,NaN,NaN,NaN,NaN
43127,NaN,NaN,NaN,NaN,NaN,NaN
44133,NaN,NaN,NaN,NaN,NaN,NaN
45499,NaN,NaN,NaN,NaN,NaN,NaN
57591,NaN,NaN,NaN,NaN,NaN,NaN
57592,NaN,NaN,NaN,NaN,NaN,NaN
63843,NaN,NaN,NaN,NaN,NaN,NaN
65086,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
material_example = data.Material.unique()[0]
data[data['Material']==material_example][similar_features]

,Brand,Subrand,SEGMENTS : Pils / Spécialités / Superspécialités/Bouteille Young adult,Variétés,Segment LE,Degre Alc
0,LEFFE,LEFFE BLONDE,Spécialités,Blonde,PREMIUM,6.6
8,LEFFE,LEFFE BLONDE,Spécialités,Blonde,PREMIUM,6.6
17,LEFFE,LEFFE BLONDE,Spécialités,Blonde,PREMIUM,6.6
41,LEFFE,LEFFE BLONDE,Spécialités,Blonde,PREMIUM,6.6
53,LEFFE,LEFFE BLONDE,Spécialités,Blonde,PREMIUM,6.6
...,...,...,...,...,...,...
73625,LEFFE,LEFFE BLONDE,Spécialités,Blonde,PREMIUM,6.6
73637,LEFFE,LEFFE BLONDE,Spécialités,Blonde,PREMIUM,6.6
73643,LEFFE,LEFFE BLONDE,Spécialités,Blonde,PREMIUM,NaN
73651,LEFFE,LEFFE BLONDE,Spécialités,Blonde,PREMIUM,6.6
73654,LEFFE,LEFFE BLONDE,Spécialités,Blonde,PREMIUM,6.6

In [13]:
# data[data['Material']==material_example].loc[:,similar_features]

In [15]:
# data[data['Material']==material_example][similar_features].fillna(method = 'ffill')

In [16]:
# df_temp = data[data['Material']==material_example][similar_features].fillna(method = 'ffill')
# data.loc[df_temp.index,similar_features] = df_temp
# data.loc[df_temp.index,similar_features]

In [17]:
# data[data['Material']==material_example].loc[:,similar_features]

In [18]:
# data[data['Material']==material_example][similar_features]

In [19]:
for material in list(data.Material.unique()):
    df_temp = data[data['Material']==material][similar_features].fillna(method = 'ffill')
    data.loc[df_temp.index,similar_features] = df_temp

In [20]:
material_example = data.Material.unique()[0]
data[data['Material']==material_example][similar_features]

,Brand,Subrand,SEGMENTS : Pils / Spécialités / Superspécialités/Bouteille Young adult,Variétés,Segment LE,Degre Alc
0,LEFFE,LEFFE BLONDE,Spécialités,Blonde,PREMIUM,6.6
8,LEFFE,LEFFE BLONDE,Spécialités,Blonde,PREMIUM,6.6
17,LEFFE,LEFFE BLONDE,Spécialités,Blonde,PREMIUM,6.6
41,LEFFE,LEFFE BLONDE,Spécialités,Blonde,PREMIUM,6.6
53,LEFFE,LEFFE BLONDE,Spécialités,Blonde,PREMIUM,6.6
...,...,...,...,...,...,...
73625,LEFFE,LEFFE BLONDE,Spécialités,Blonde,PREMIUM,6.6
73637,LEFFE,LEFFE BLONDE,Spécialités,Blonde,PREMIUM,6.6
73643,LEFFE,LEFFE BLONDE,Spécialités,Blonde,PREMIUM,6.6
73651,LEFFE,LEFFE BLONDE,Spécialités,Blonde,PREMIUM,6.6
73654,LEFFE,LEFFE BLONDE,Spécialités,Blonde,PREMIUM,6.6

In [ ]:
material_example = data.Material.unique()[0]
data[data['Material']==material_example][similar_features]

In [ ]:
data.Material.unique()

In [ ]:
material_10 = 10946

In [ ]:
mat_data = data[data['Material'] == material_10]
mat_data = mat_data[similar_features]
mat_data

In [ ]:
len(data.Material.unique())

In [ ]:
cols_to_keep = similar_features + ['Material']
cols_to_keep

In [ ]:
similarities_df = data[cols_to_keep]
display(len(similarities_df.Material.unique()))
similarities_df.drop_duplicates(inplace = True)
similarities_df[similarities_df.duplicated('Material')].Material.unique()

In [ ]:
similarities_df[similarities_df['Material']==62474]